@using Microsoft.AspNetCore.Http;
@using vladandartem.ClassHelpers;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Cart cart = new Cart(HttpContextAccessor.HttpContext.Session, "cart");

    cart.Decode();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/reset.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/style.css"/>
    </environment>
    <!--<link rel="stylesheet" href="~/css/site.css" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/add.css" />
    <link rel="stylesheet" href="~/css/cart.css" />
    <link rel="stylesheet" href="~/css/persarea.css" />
    <link rel="stylesheet" href="~/css/slider.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <header>
            <div id="top">
                <div class="container">
                    <p id="phone">8 (800) 456-78-90</p>
                    
                </div>
            </div>
            <div class="fix begin">
                <div>
                    <div class="container center">
                        <div id="logo">
                            <a href="~/Home/Index">Logo</a>
                        </div>
                        <form action="~/Home/Index" method="get" class="search-form">
                            <div class="input-group mb-3">
                                <input type="hidden" name="isSearch" value="true">
                                <input type="text" name="searchArgument" id="sear" class="form-control" placeholder="Поиск" aria-label="Recipient's username"
                                    aria-describedby="button-addon2" value="@(Model is vladandartem.ViewModels.Home.IndexViewModel ? Model?.searchArgument : "")">
                                <div class="input-group-append">
                                    <input class="btn btn-outline-secondary" type="submit" value="Найти">
                                </div>
                            </div>
                        </form>
                        
                        <!--<div class="top-buttons">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Example@mail.ru
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="~/PersonalArea/Main">Личный кабинет</a>
                                    <a class="dropdown-item" href="#">Админка</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Выйти</a>
                                </div>
                            </div>
                        </div>-->
                        <div class="nav-item dropdown top-buttons">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Example@mail.ru
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Профиль</a>
                                <a class="dropdown-item" href="#">Админка</a>
                                <a class="dropdown-item" href="~/Home/Cart">Корзина</a>
                                <a class="dropdown-item" href="~/PersonalArea/PaidProducts">Оплаченные товары</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Выйти</a>
                            </div>
                        </div>

                        <div id="cart" class="top-buttons"><a href="~/Home/Cart" class="nav-link">Корзина (@(cart.Count()))</a></div>
                    </div>
                 </div> 
            </div>
            <nav>
                <ul class="container" id="menu">
                    <li><a href="">Ноутбуки</a></li>
                    <li><a href="">Мониторы</a></li>
                    <li><a href="">Смартфоны</a></li>
                    <li><a href="">Планшеты</a></li>
                    <li><a href="">Телевизоры</a></li>                   
                    <li><a href="">Моноблоки</a></li>
                    <li><a href="">Видеокамеры</a></li> 
                </ul>
            </nav>
        </header>

        @RenderBody()
        

    <footer></footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
</body>
</html>
