@{
    ViewData["Title"] = "Личный кабинет";
}
<ul class="nav nav-pills container nav-in-pers">
    <li class="nav-item">
        <a class="nav-link active" href="#">Профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Home/Cart">Корзина</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/PersonalArea/Main">Оплаченные товары</a>
    </li>

</ul>

<main class="container pa">
    <div class="allcart">
        <div class="pincart">
            <p class="title">Корзина</p>
            <ul class="listinpers">
                @*@foreach(var product in Model.cartProducts)
                {
                    <li>
                        <div><img src="@product.ImgPath" alt=""></div>
                        <div class="name-and-quan">
                            <p>@product.Name</p>
                            <p><span>1</span> шт.</p>
                        </div>
                        <p><span>@product.Price</span> р.</p>
                    </li>
                }*@       
            </ul>
        </div>
    </div>

    <div class="paid">
        <p class="title">Оплаченные</p>
        <ul class="listinpers">
            @foreach(var element in Model.paidProducts)
            {
                <li>
                    <div><img src="@element.product.ImgPath" alt=""></div>
                    <div class="name-and-quan">
                        <p>@element.product.Name</p>
                        <p><span>@element.ProductCount</span> шт.</p>
                    </div>
                    <p><span>@element.product.Price</span> р.</p>
                </li>
            }
        </ul>
    </div>
</main>