@{
    ViewData["Title"] = "Личный кабинет";
}

<main class="container pa">
    <div class="pincart">
        <p class="title">Корзина</p>
        <ul class="listinpers">
            @foreach(var product in ViewBag.CartProducts)
            {
                <li>
                    <div><img src="@product.ImgPath" alt=""></div>
                    <div class="name-and-quan">
                        <p>@product.Name</p>
                        <p>Количество: <span>1</span></p>
                    </div>
                    <p><span>@product.Price</span> р.</p>
                </li>
            }            
        </ul>
    </div>
    <div class="paid">
        <p class="title">Оплаченные</p>
        <ul class="listinpers">
            @foreach(var product in ViewBag.PaidProducts)
            {
                <li>
                    <div><img src="@product.ImgPath" alt=""></div>
                    <div class="name-and-quan">
                        <p>@product.Name</p>
                        <p>Количество: <span>1</span></p>
                    </div>
                    <p><span>@product.Price</span> р.</p>
                </li>
            }
        </ul>
    </div>
</main>