@model vladandartem.ViewModels.PersonalArea.MainViewModel
@{
    ViewData["Title"] = "Оплаченные товары";
}
<ul class="nav nav-pills container nav-in-pers">
    <li class="nav-item">
        <a class="nav-link" href="~/PersonalArea/Main">Профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Home/Cart">Корзина</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/PersonalArea/PaidProducts">Оплаченные товары</a>
    </li>
</ul>

<main class="container pa">
    <div class="over">
        <div class="order-info">
            <h3>Заказ № 3596</h3>
            <hr>
            <p>Сумма заказа: <span>7567</span><span> р.</span></p>
            <hr>
            <p>Состав заказа:</p>
        </div>
        <ul class="list">
            @if(Model.paidProducts.Any())
            {
                @foreach(var element in Model.paidProducts)
                {
                    <li>
                        <p class="head-of-order">
                            @element.product.Name
                        </p>
                        <div class="order">
                            <div><img src="@element.product.ImgPath" alt=""></div>
                            <div class="name-and-quan">
                                <p>@element.product.Name</p>
                            </div>
                            <div>
                                <span class="unit-price">@element.product.Price</span><span> р.</span>
                                <p class="badge badge-primary"><span class="units">@element.ProductCount</span> шт.</p>
                            </div>
                        </div>
                    </li>
                }
            }
            else
            {
                @("Список оплаченных товаров пуст.")
            }
        </ul>
    </div>
</main>