@model List<vladandartem.Models.Order>
@{
    ViewData["Title"] = "Оплаченные товары";
}
<ul class="nav nav-pills container nav-in-pers">
    <li class="nav-item">
        <a class="nav-link" href="~/PersonalArea/Main">Профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Home/Cart">Корзина</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/PersonalArea/PaidProducts">Мои заказы</a>
    </li>
</ul>

<main class="container pa">
    <div class="list-of-orders">
        <ul>
            @{
                int summary = 0;
            }
            @foreach(var order in Model)
            {
                summary = 0;

                <li class="order">
                    <div class="header-of-order">
                        <p>Заказ № @order.Number</p>
                        <div class="status">
                            @if(order.IsPaid)
                            {
                                <span class="btn btn-success">Оплачено</span>
                            }
                            else
                            {
                                <span class="btn btn-warning">Ожидается оплата</span>
                            }
                        </div>
                        <div class="open-order"><i class="fas fa-chevron-circle-down"></i></div>
                    </div> 
                    <div>
                        <ul>
                            <li><p>Товар</p><p>Цена</p><p>Количество</p><p>Стоимость</p></li>
                            @foreach(var element in order.CartProducts)
                            {
                                summary += element.Count * element.Product.Price;
                                <li><p>@element.Product.Name</p><p>@element.Product.Price р.</p><p>@element.Count</p><p>@(element.Count * element.Product.Price) р.</p></li>
                            }
                        </ul>
                        <div class="order-cost">
                            <div class="buy">
                                @if(!order.IsPaid)
                                {
                                    <form method="post" asp-route-id="@order.Id" asp-action="PayOrder">
                                        <button type="submit" class="btn btn-success">Оплатить</button>
                                    </form>
                                }
                            </div>
                            <div class="cost-of-order">
                                <span>Cтоимость заказа: @summary р.</span>
                            </div> 
                        </div>
                    </div>    
                </li>
            }
        </ul>
    </div>
</main>