@model vladandartem.Models.ViewModels.AdminMenu.GetTabsViewModel

<ul class="nav nav-pills container nav-in-pers">
    <li class="nav-item">
        <a class="nav-link @(Model.SectionId == 1 ? "active" : "")" asp-action="Main">Управление категориями</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.SectionId == 2 ? "active" : "")" asp-action="Users">Управление пользователями</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.SectionId == 3 ? "active" : "")" asp-action="Section">Управление разделами</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.SectionId == 4 ? "active" : "")" asp-action="Analytics">Аналитика</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.SectionId == 5 ? "active" : "")" asp-action="DetailField">Управление детальной информацией</a>
    </li>
</ul>