@model vladandartem.ViewModels.AdminMenu.AnalyticsViewModel
@section Scripts
{
    <script src="~/js/Analytics.js"></script>
}
<div class="test"></div>
<div class="jason">
        <p class="len"></p>
        
</div>
<div class="container analytics">
    <form asp-action="LoadAnalytics" method="post">
        <input id="first-input-hidden" type="hidden" name="TimeZoneOffset">
        <div class="form-group">
            <label for="select-category">Категория</label>
            <select name="CategoryId" class="form-control select" id="select-category">
                <option value="0">Все</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="select-product-name">Продукт(ы):</label>
            <select name="ProductId" class="form-control select" id="select-product-name">
                <option value="0">Все</option>
                @foreach (var product in Model.Products)
                {
                    <option value="@product.Id">@product.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="select-email">Пользователь:</label>
            <select name="UserId" class="form-control select" id="select-email">
                <option value="0">Все</option>
                @foreach (var user in Model.Users)
                {
                    <option value="@user.Id">@user.Email</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="DateFrom">С:</label>
            <input class="form-control datepicker" name="DateFrom" id="DateFrom">
        </div>
        <div class="form-group">
            <label for="DateTo">По:</label>
            <input class="form-control datepicker" name="DateTo" id="DateTo">
        </div>
        <div class="btn-group-toggle">
            <input id="checkbox" type="checkbox" name="AllTime">

        </div>
        <input id="second-input-hidden"type="hidden" name="LastItemId" value="0">
        <div class="form-group">
            <button type="submit" class="btn btn-primary margin">Показать</button>
        </div>
    </form>

    <div class="container result">
        <ul>
            <li class="products-in-analytics">
                <h5 class="name-in-analitics">Nokia</h5>
                <ul class="months">
                    <li>
                        <h5><span>Январь</span><span>2019</span></h5>
                        <table>
                            <tr>
                                <th>День</th><th>Продано</th><th>Выручка</th>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h5><span>Январь</span><span>2019</span></h5>
                        <table>
                            <tr>
                                <th>День</th><th>Продано</th><th>Выручка</th>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h5><span>Январь</span><span>2019</span></h5>
                        <table>
                            <tr>
                                <th>День</th><th>Продано</th><th>Выручка</th>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h5><span>Январь</span><span>2019</span></h5>
                        <table>
                            <tr>
                                <th>День</th><th>Продано</th><th>Выручка</th>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </li>
            <li class="products-in-analytics">
                <h5 class="name-in-analitics">Nokia</h5>
                <ul class="months">
                    <li>
                        <h5><span>Январь</span><span>2019</span></h5>
                        <table>
                            <tr>
                                <th>День</th><th>Продано</th><th>Выручка</th>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h5><span>Январь</span><span>2019</span></h5>
                        <table>
                            <tr>
                                <th>День</th><th>Продано</th><th>Выручка</th>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h5><span>Январь</span><span>2019</span></h5>
                        <table>
                            <tr>
                                <th>День</th><th>Продано</th><th>Выручка</th>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h5><span>Январь</span><span>2019</span></h5>
                        <table>
                            <tr>
                                <th>День</th><th>Продано</th><th>Выручка</th>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                            <tr>
                                <td>1</td><td>7</td><td>15000</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </li>
        </ul>

        
            
    </div>
</div>

