@model vladandartem.ViewModels.AdminMenu.AnalyticsViewModel
@section Scripts
{
    <script src="~/js/Analytics.js"></script>
}

<div class="container analytics">
    <form asp-action="LoadAnalytics" method="post">
        <input type="hidden" name="TimeZoneOffset">
        <div class="form-group">
            <label for="select-category">Категория</label>
            <select name="CategoryId" class="form-control select" id="select-category">
                <option value="0">Все</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="select-product-name">Продукт(ы):</label>
            <select name="ProductId" class="form-control select" id="select-product-name">
                <option value="0">Все</option>
                @foreach (var product in Model.Products)
                {
                    <option value="@product.Id">@product.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="select-email">Пользователь:</label>
            <select name="UserId" class="form-control select" id="select-email">
                <option value="0">Все</option>
                @foreach (var user in Model.Users)
                {
                    <option value="@user.Id">@user.Email</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="DateFrom">С:</label>
            <input class="form-control datepicker" name="DateFrom" id="DateFrom">
        </div>
        <div class="form-group">
            <label for="DateTo">По:</label>
            <input class="form-control datepicker" name="DateTo" id="DateTo">
        </div>
        <div class="btn-group-toggle">
            <input id="checkbox" type="checkbox" name="AllTime">

        </div>
        <input type="hidden" name="LastItemId" value="0">
        <div class="form-group">
            <button type="submit" class="btn btn-primary margin">Показать</button>
        </div>
    </form>

    <div class="container result">
        <ul>
            <li>
                <h5>Nokia</h5>
                <ul>
                    <li>
                        <h5 class="month">Январь</h5>
                        <ul>
                            <li><span>День</span><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span></li>
                            <li><span>Продано</span><span>5</span><span>7</span><span>4</span><span>8</span><span>3</span><span>6</span><span>7</span><span>5</span><span>4</span><span>7</span></li>
                            <li><span>Выручка</span><span>57900</span><span>43900</span><span>39000</span><span>101300</span><span>19000</span><span>98770</span><span>19888</span><span>17900</span><span>19000</span><span>19000</span></li>
                        </ul>
                    </li>
                    <li>
                        <h5 class="month">Февраль</h5>
                        <ul>
                            <li><span>День</span><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span></li>
                            <li><span>Продано</span><span>5</span><span>7</span><span>4</span><span>8</span><span>3</span><span>6</span><span>7</span><span>5</span><span>4</span><span>7</span></li>
                            <li><span>Выручка</span><span>57900</span><span>43900</span><span>39000</span><span>101300</span><span>19000</span><span>98770</span><span>19888</span><span>17900</span><span>19000</span><span>19000</span></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Samsung</li>
        </ul>

        
            
    </div>
</div>

