@model vladandartem.ViewModels.AdminMenu.AnalyticsViewModel
@section Scripts
{
    <script src="~/js/Analytics.js"></script>
}

<div class="container analytics">
    <form asp-action="LoadAnalytics" method="post"> 
        <input type="hidden" name="TimeZoneOffset">
        <div class="form-group">
            <label for="select-category">Категория</label>
            <select name="CategoryId" class="form-control select" id="select-category">
                @foreach(var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="select-product-name">Продукт(ы):</label>
            <select name="ProductId" class="form-control select" id="select-product-name">
                <option value="0">Все</option>
                @foreach(var product in Model.Products)
                {
                    <option value="@product.Id">@product.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="select-email">Пользователь:</label>
            <select name="UserEmail" class="form-control select" id="select-email">
                <option value="0">Все</option>
                @foreach(var user in Model.Users)
                {
                    <option value="@user.Id">@user.Email</option>
                }
            </select>
        </div>
    
        <div class="form-group">
            <label for="DateFrom">С:</label>
            <input class="form-control datepicker" name="DateFrom" id="DateFrom">
        </div>
        <div class="form-group">
            <label for="DateTo">По:</label>
            <input class="form-control datepicker" name="DateTo" id="DateTo">
        </div>
        <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-primary margin">
                <input type="checkbox" name="AllTime">За всё время
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary margin">Показать</button>
        </div>
    </form>
</div>

<form asp-action="Analytics" method="post">
    <input type="hidden" name="TimeZoneOffset">
    <label>Категория:</label>
    <select name="CategoryId">
        <option value="0">Все</option>
        @foreach(var category in Model.Categories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>

    <label>Продукт(ы):</label>
    <select name="ProductId">
        <option value="0">Все</option>
        @foreach(var product in Model.Products)
        {
            <option value="@product.Id">@product.Name</option>
        }
    </select>

    <label>Пользователь:</label>
    <select name="UserEmail">
        <option value="0">Все</option>
        @foreach(var user in Model.Users)
        {
            <option value="@user.Id">@user.Email</option>
        }
    </select>

    <label>C:</label>
    <input type="text" class="datepicker" name="DateFrom">
    
    <label>По:</label>
    <input type="text" class="datepicker" name="DateTo">
    
    <label>За все время</label>
    <input type="checkbox" name="AllTime">

    <input type="submit" value="Показать">
</form>