@model IEnumerable<vladandartem.Models.Section>

@{
    ViewData["Title"] = "View";
}

@Html.Partial("_GetTabs")

<main class="container">
    <ul class="users">
        <li><p>Категория</p><p>Действие</p></li>
        @foreach (var item in Model)
        {
            <li>
                <p>@item.Name</p>
                <div class="centering">
                    <button type="submit" class="btn btn-danger delete-user" data-toggle="modal" data-route-id="@item.Id" data-target="@("#a" + item.Id)">
                        Удалить
                    </button>
                </div>

            </li>
        }
    </ul>
    <div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Подтвердите действие</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6></h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <form asp-action="SectionDelete">
                        <input type="hidden" name="id">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form action="~/AdminMenu/AddCategory" method="post" class="add-new-category">
        <div class="form-group">
            <label for="add-category">Добавьте категорию</label>
            <input type="text" name="CategoryName" class="form-control" id="add-category" placeholder="Название категории">
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</main>
@foreach (var item in Model)
{
    @item.Name

    <form asp-action="SectionDelete">
        <input type="hidden" name="SectionId" value="@item.Id">
        <input type="submit" value="Удалить">
    </form>
}

<form asp-action="SectionAdd">
    <input type="text" name="SectionName" placeholder="Название секции">
    <input type="submit" value="Добавить">
</form>

</table>
