@model IEnumerable<User>

@section Scripts {
    <script src="~/js/users.js"></script>
}

@Html.Partial("_GetTabs", new vladandartem.ViewModels.AdminMenu.GetTabsViewModel { SectionId = 2 })

<main class="container admin">
    <ul class="users">
        <li><p>E-mail</p><p>Дата рождения</p><p>Редактирование</p><p>Удаление</p></li>
        @foreach (var user in Model)
        {
            <li id="@("s" + user.Id)">
                <p>@user.Email</p>
                <p>@user.Year</p>
                <p class="centering">
                    <a asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary">Изменить</a>
                </p>
                <div class="centering">
                    <button type="submit" class="btn btn-danger delete-user" data-toggle="modal" data-route-id="@user.Id" data-target="@("#a" + user.Id)">
                        Удалить
                    </button>
                </div>
            </li>
        }
    </ul>

    <div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Подтвердите действие</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Удалить пользователя </h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <form method="post" asp-action="DeleteUser">
                        <input type="hidden" name="id">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="create-new-user">
        <a class="btn btn-primary btn-lg" asp-action="CreateUser" role="button">Создать нового пользователя</a>
    </div>
</main>

