@model vladandartem.Models.Product
@{
    ViewData["Title"] = "Redact Product";
}

        <main class="container redact">
            <div class="imgProd"><img src="@Model?.ImgPath" class="addimg" alt=""></div>
            
            <form action="~/Home/Edit" class="addandedit" method="post" enctype="multipart/form-data">
                @if(ViewBag.Errors != null)
                    {
                        <ul class="error">
                            @foreach (var error in ViewBag.Errors.ErrorMessages)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    }
                
                <input type="hidden" name="id" value="@Model?.Id">
                <input type="hidden" name="imgpath" value="@Model?.ImgPath">
                
                <div class="custom-file label">
                    <input type="file" name="fileimg" class="custom-file-input file" id="eimg">
                    <label class="custom-file-label" for="eimg">Выберите фотографию</label>
                </div>
                <div class="form-group">
                    <label for="name-id">Название товара</label>
                    <input type="text" class="form-control" id="name-id" name="name" value="@Model?.Name">
                </div>
                <div class="form-group">
                    <label for="price-id">Цена</label>
                    <input type="text" name="price" class="form-control" id="price-id" value="@Model?.Price">
                </div>
                <div class="form-group">
                    <label for="m-id">Производитель</label>
                    <input type="text" class="form-control" id="m-id" name="manufacturer" value="@Model?.Manufacturer">
                </div>
                <label for="select">Категория</label>
                <select name="categoryId" class="form-control select" id="select">
                    @foreach (var category in ViewBag.CategoriesList)
                    {
                        if(Model?.CategoryId == category.Id)
                        {
                            <option value="@category.Id" selected>@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                    
                </select>
                <div class="form-group">
                    <label for="q-id">Количество на складе</label>
                    <input type="number" class="form-control" id="q-id" min="0" name="count" value="@Model?.Count">
                </div>
                <button type="submit" class="btn btn-primary">Изменить</button>


                <!--<div class="custom-file label">
                    <input type="file" name="fileimg" class="custom-file-input file" id="eimg">
                    <label class="custom-file-label" for="eimg">Выберите фотографию</label>
                </div>
                <div class="form-group">
                    <label for="name-id">Название товара</label>
                    <input type="text" class="form-control" id="name-id" name="name" value="@Model?.Name">
                </div>
                <div class="form-group">
                    <label for="price-id">Цена</label>
                    <input type="text" class="form-control" id="price-id" value="@Model?.Price">
                </div>
                <div class="form-group">
                    <label for="m-id">Производитель</label>
                    <input type="text" class="form-control" id="m-id" name="manufacturer" value="@Model?.Manufacturer">
                </div>
                <label for="select">Категория</label>
                <select name="categoryId" class="form-control select">
                    @*@foreach (var category in ViewBag.CategoriesList)
                    {
                        if(Model?.CategoryId == category.Id)
                        {
                            <option value="@category.Id" selected>@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }*@
                </select>
                <div class="form-group">
                    <label for="q-id">Количество на складе</label>
                    <input type="number" class="form-control" id="q-id" min="0" name="count" value="@Model?.Count">
                </div>
                <button type="submit" class="btn btn-primary">Изменить</button>-->
                
            </form>
        </main>

        