@model vladandartem.ViewModels.Home.EditViewModel
@{
    ViewData["Title"] = "Redact Product";
}

@section Scripts {
    <script src="~/js/add-and-edit.js"></script>
}

    <main class="container redact">
        <div class="imgProd"><img src="@Model?.Product?.ImgPath" class="addimg" alt=""></div>

        <form asp-action="EditSave" class="addandedit" method="post" enctype="multipart/form-data">
            <input type="hidden" name="product.id" value="@Model?.Product?.Id">
            <input type="hidden" name="product.imgpath" value="@Model?.Product?.ImgPath">

            <div class="custom-file label">
                <input type="file" name="fileimg" class="custom-file-input file" id="eimg">
                <label class="custom-file-label" for="eimg">Выберите фотографию</label>
            </div>
            <div class="form-group">
                <label for="name-id">Название товара</label>
                <input type="text" class="form-control" id="name-id" name="product.name" value="@Model?.Product?.Name">
                <span asp-validation-for="Product.Name"></span>
            </div>
            <div class="form-group">
                <label for="Price">Цена</label>
                <input type="number" min="1" name="product.price" class="form-control" id="Price" value="@Model?.Product?.Price">
            </div>
            <div class="form-group">
                <label for="Manufacturer">Производитель</label>
                <input type="text" class="form-control" id="Manufacturer" name="product.Manufacturer" value="@Model?.Product?.Manufacturer">
                <span asp-validation-for="Product.Manufacturer"></span>
            </div>
            <label for="select">Категория</label>
            <span asp-validation-for="Product.CategoryId"></span>
            <select name="product.categoryId" class="form-control select" id="select">
                @foreach (var category in Model.Categories)
                {
                    if (Model.Product.CategoryId == category.Id)
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>
            <div class="form-group">
                <label for="q-id">Количество на складе</label>
                <input type="number" class="form-control" id="q-id" min="0" name="product.count" value="@Model?.Product?.Count">
            </div>
            <div class="form-group">
                @foreach (var productDetailField in Model.Product.ProductDetailFields)
                {    
                    <input type="hidden" name="ProductDetailFieldId" value="@productDetailField.Id" />
                    <label for="@("ed" + productDetailField.Id)">@productDetailField.DetailField.Name</label>
                    <select name="DefinitionId" class="form-control select" id="@("ed" + productDetailField.Id)">
                        <option value="" selected>Пусто</option>
                        @foreach (var definition in productDetailField.DetailField.Definitions)
                        {
                            if (definition.Id == productDetailField.DefinitionId)
                            {
                                <option value="@definition.Id" selected>@definition.Name</option>
                            }
                            else
                            {
                                <option value="@definition.Id">@definition.Name</option>
                            }
                        }
                    </select>  
                }
            </div>
            <button type="submit" class="btn btn-primary">Изменить</button>
        </form>

        <div class="for-add-fields">
            <form asp-action="EditAddDetailField" method="post" class="addandedit">
                <input type="hidden" name="ProductId" value="@Model.Product.Id" />
                <select name="DetailFieldId" class="form-control select">
                    <option value="0">Выберите поле</option>
                    @if (Model.DetailFields != null)
                    {
                        @foreach (var detailField in Model.DetailFields)
                        {
                            <option value="@detailField.Id">@detailField.Name</option>
                        }
                    }
                </select>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>

            <form asp-action="EditDeleteDetailField" method="post">
                <select name="ProductDetailFieldId" class="form-control select">
                    <option value="0">Выберите поле</option>
                    @if (Model.Product.ProductDetailFields != null)
                    {
                        @foreach (var productDetailField in Model.Product.ProductDetailFields)
                        {
                            <option value="@productDetailField.Id">@productDetailField.DetailField.Name</option>
                        }
                    }
                </select>
                <button type="submit" class="btn btn-primary">Удалить</button>
            </form>
        </div>
    </main>    