@model vladandartem.Models.Product
@{
    ViewData["Title"] = "Redact Product";
}

        <main class="container redact">
            <div class="imgProd"><img src="@Model?.ImgPath" class="addimg" alt=""></div>
            
            <form action="~/Home/Edit" id="add" method="post" enctype="multipart/form-data">
                @if(ViewBag.Errors != null)
                    {
                        <ul class="error">
                            @foreach (var error in ViewBag.Errors.ErrorMessages)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    }
                <p>Изображение:</p>
                <input type="hidden" name="id" value="@Model?.Id">
                <input type="hidden" name="imgpath" value="@Model?.ImgPath">
                <label for="eimg" class="label">Выбрать</label>
                <input type="file" name="fileimg" class="file" id="eimg">
                <p>Название:</p>
                <input type="text" name="name" value="@Model?.Name">
                <p>Цена:</p>
                <input type="text" name="price" value="@Model?.Price">
                <p>Производитель:</p>
                <input type="text" name="manufacturer" value="@Model?.Manufacturer">
                <p>Категория:</p>
                <select name="categoryId" class="category">
                    @foreach (var category in ViewBag.CategoriesList)
                    {
                        if(Model?.CategoryId == category.Id)
                        {
                            <option value="@category.Id" selected>@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                    <!--<option value="@ViewBag?.Category">Ноутбуки</option>
                    <option value="@ViewBag?.Category">Мониторы</option>
                    <option value="@ViewBag?.Category">Смартфоны</option>
                    <option value="@ViewBag?.Category">Планшеты</option>
                    <option value="@ViewBag?.Category">Телевизоры</option>
                    <option value="@ViewBag?.Category">Моноблоки</option>
                    <option value="@ViewBag?.Category">Видеокамеры</option>-->
                </select>
                <p>Количество на складе:</p>
                <input type="number" min="0" name="count" value="@Model?.Count">
                <input type="submit" value="Изменить" class="addProduct">

                <!--<h2>Операционная система</h2>
                <p>Операционная система:</p>
                <input type="text">
                <p>Обновление операционной системы:</p>
                <input type="text">

                <h2>Процессор</h2>
                <p>Производитель процессора</p>
                <input type="text">
                <p>Тип процессора</p>
                <input type="text">
                <p>Количество ядер процессора</p>
                <input type="text">
                <p>Макс. такт. частота</p>
                <input type="text">
                <p>Кэш-память</p>
                <input type="text">

                <h2>Оперативная память</h2>
                <p>Оперативная память (RAM)</p>
                <input type="text">
                <p>Тип памяти</p>
                <input type="text">
                <p>Частота памяти</p>
                <input type="text">-->
                
            </form>
        </main>

        