@model List<vladandartem.Models.Product>
@{
ViewData["Title"] = "Shop";
}



<div id="sliderAndBar">
    <div class="container" id="inside">
        <div id="leftBar">
            <ul id="navBar">
                <li id="inf">ИНФОРМАЦИЯ</li>
                <li><a href="">О нас</a></li>
                <li><a href="">Информация о доставке</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">Услуги</a></li>
                <li><a href="">Контакты</a></li>
                <li><a href="">Блог</a></li>
            </ul>
        </div>

        <div id="mainSlider">
            <img src="~/images/slide.jpg" alt="">
        </div>
    </div>
</div>


<main>
    <ul class="container" id="products">
        @foreach (var SomeProduct in Model)
        {
            <li>
                <div class="img">
                    <img src="@SomeProduct.ImgPath" alt="">
                </div>
                <p class="name">
                    @SomeProduct.Name
                </p>
                <p class="price">
                    @SomeProduct.Price р.
                </p>
                <div class="links">
                    <form action="~/Home/AddCookie" method="post">
                        <input type="hidden" name="id" value="@SomeProduct.Id">
                    <!--<a href="" class="cart">
                        в корзину
                    </a>-->
                        <input type="submit" value="в корзину" class="cart">
                    </form>
                    <a href="/home/Edit?id=@SomeProduct.Id" class="icons"><img src="~/images/r.png" alt=""></a>
                    

                    <form action="~/Home/RemoveProduct" method="post">
                        <input type="hidden" name="id" value="@SomeProduct.Id">
                        <div class="testclass"><input type="image" value="" src="~/images/d.png" width="25" height="25"></div>
                    </form>
                </div>
            </li>
        }
        <li id="plus">
            <a href="/home/add"></a>
            <img src="~/images/plus.png" alt="">
        </li>
    </ul>

    <div class="container pagin">
        @{
            int i = 0;
            if(ViewBag.Page >= 4)
            {
                i = ViewBag.Page - 2;
            }
        }
            
        @for (int j = 1; i < @ViewBag.PagesCount; i++, j++)
        { 
            if(j > 5)
            {
                break;
            }

            int pageNum = i + 1;

            <a class="@(i == ViewBag.Page ? "active" : "")" href="~/Home/Index?Page=@i">@pageNum</a>
        }
    </div>
    
</main>
