@model vladandartem.ViewModels.Home.IndexViewModel
@{
ViewData["Title"] = "Главная страница";
}

@section Scripts {
    <script src="~/js/forindex.js"></script>
}

<div class="slider-and-bar">
    <div class="container inside">
        <div class="leftBar">
            <ul class="navBar">
                <li class="inf">ИНФОРМАЦИЯ</li>
                <li><a href="">О нас</a></li>
                <li><a href="">Информация о доставке</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">Услуги</a></li>
                <li><a href="">Контакты</a></li>
                <li><a href="">Блог</a></li>
            </ul>
        </div>
        <div class="mainSlider">
            <ul class="slides">
                <li>
                    <img src="~/images/slide.jpg" alt="">
                </li>
                <li>
                    <img src="~/images/slide2.jpg" alt="">
                </li>
                <li>
                    <img src="~/images/slide3.jpg" alt="">
                </li>
                <li>
                    <img src="~/images/slide4.jpg" alt="">
                </li>
            </ul>
            <div class="buttons">
                <div class="left">
                    <div class="arrowleft"></div>
                </div>
                <div class="right">
                    <div class="arrowright"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<main>
    <ul class="container products">
        @foreach (var product in Model.products)
        {
            <li>
                <div class="img">
                    <img src="@product.ImgPath" alt="">
                    <a href="~/Home/Product?ProductId=@product.Id"></a>
                </div>
                <p class="name">
                    <a href="~/Home/Product?ProductId=@product.Id">@product.Name</a>
                </p>
                <p class="price">
                    @product.Price р.
                </p>
                <div class="links">
                    <form asp-action="AddCookie" method="post">
                        <input type="hidden" name="id" value="@product.Id">
                        <input value="@(product.Count <= 0 ? "нет в наличии" : "в корзину")" class="btn btn-primary" type="submit" @(product.Count <= 0 ? " disabled=\"disabled\"" : "")>
                    </form>
                    @if (User.IsInRole("admin"))
                    {
                        <a href="/home/Edit?id=@product.Id" class="btn btn-primary newicon"><i class="fas fa-pen"></i></a>
                        <form action="~/Home/RemoveProduct" method="post" class="delete-products">
                            <input type="hidden" name="id" value="@product.Id">
                            <button type="submit" class="btn btn-primary newicon"><i class="far fa-trash-alt"></i></button>
                        </form>
                    }
                </div>
            </li>
        }
        @if (User.IsInRole("admin"))
        {
            <li class="plus">
                <a href="/home/add"></a>
                <img src="~/images/plus.png" alt="">
            </li>
        }
    </ul>
    <ul class="container pagination pagin">
        @{  
            int i = 0;
            i = (Model.page >= 4 ? i - 2 : i);
        }
        @for (int j = 1; i < Model.pagesCount; i++, j++)
        { 
            if(j > 5) { break; }

            <li class="@(i == Model.page ? "page-item active" : "page-item")"><a class="page-link" href="~/Home/Index?Page=@i">@(i + 1)</a></li>
        }
    </ul>
</main>
