@model vladandartem.Models.Product

@{
    ViewData["Title"] = "Product";
}

<main class="container product-page">
    <div class="header-product">
        <h1>@Model.Name</h1>
        <h3><span class="badge badge-success">@Model.Manufacturer</span></h3>
    </div>
    <div class="image-and-main">
        <div class="imgProd">
            <img src="@Model?.ImgPath" class="addimg" alt="">
        </div>
        <div class="main-info">
            <h2>@Model.Price р.</h2>
            <form asp-action="AddCookie" class="add-to-cart" method="post">
                <input type="hidden" name="id" value="@Model.Id">
                <input value="@(Model.Count <= 0 ? "нет в наличии" : "в корзину")" class="btn btn-primary" type="submit" @(Model.Count <= 0 ? " disabled=\"disabled\"" : "")>
            </form>
            <!--<button type="button" class="btn btn-primary btn-lg btn-block">Добавить в корзину</button>-->
            <h5 class="on-stock">На складе: <span class="badge badge-success">@Model.Count</span></h5>
        </div>
    </div>
    <h1 class="header-specifications">Характеристики</h1>
    <table class="specifications" border="1">
        @foreach (var productDetailField in Model.ProductDetailFields)
        {
            <tr>
                <td>@productDetailField.DetailField.Name</td>
                <td>@(productDetailField.DetailField.Definitions.First(n => n.Id == productDetailField.DefinitionId).Name)</td>
            </tr>
        }
    </table>
</main>

